{% extends "base.html" %}

{% block title %}Pinner main control{% endblock %}
{% block nav %}<!-- no nav -->{% endblock %}
{% block body %}
<div class="container">

<table class="table">
<thead><th>{{mode}} #</th><th>In/Out</th><th>State</th><th>Status</th></thead>
<tbody>

{% for pin in pin_states %}
<tr>
<td>{{ pin.number }}</td>
<td>{% if not pin.is_serial %}
    <input class="type-switch" id="type-{{pin.number}}" type="checkbox" name="pin-{{pin.number}}-type" data-on-text="IN" data-off-text="OUT" data-size='mini' {% if pin.type == 'IN' %}checked{% endif %}>
    {% else %}
    {{ pin.type }}
    {% endif %}
</td>
<td>{{ pin.state }}</td>
<td>
{% if pin.is_serial %}
    NA
{% else %}

    <div class="type-in {% if pin.type != 'IN' %} hidden {% endif %} status-{{pin.number}}"> {% if pin.state %} <i class="icon-chevron-up"></i>  {% else %} <i class="icon-circle-blank"></i> {% endif %} </div>
    <div class="type-out {% if pin.type != 'OUT' %} hidden {% endif %} status-{{pin.number}}"><input class="pwm-slider" id="value-{{ pin.number }}" data-slider-id='pin{{ pin.number }}slider' type="text" data-slider-min="{{pin.min}}" data-slider-max="{{pin.max}}" data-slider-step="1" data-width='10' data-slider-value="{{pin.value}}"/></div>
{% endif %}
</td>
</tr>
{% endfor %}
</div>
</tbody>
</table>

{% endblock %}
{% block footer %}
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">


    $(".type-switch").bootstrapSwitch()

    $(".type-switch").on('switchChange.bootstrapSwitch', function(event, state) {
        var pin = parseInt(this.id.split("-")[1],10);
        $(".status-"+pin).toggleClass("hidden")
        var new_type = state ? "in" : "out";
        $.ajax({
                url: '/pinner/' + pin + '/set_type/' + new_type,
                tryCount : 0,
                retryLimit : 2,
                error : function(xhr, textStatus, errorThrown ) {
                        if (xhr.status == 301) {
                            this.tryCount++;
                            if (this.tryCount <= this.retryLimit) {
                                //try again
                                $.ajax(this);
                                return;
                            }
                            return;
                        }  else {
                            console.log("no love")
                        }
                    },
                success: function(data) {
                  console.log("pin" + pin + " now type " + new_type)
            }
        });

    });

    // With JQuery
    $('.pwm-slider').slider({
        formatter: function(value) {
            return 'Duty: ' + value + "%";
        }})

    $('.pwm-slider').on("slide", function (duty) {
        var pin = parseInt(this.id.split("-")[1],10);
        var duty = parseInt(this.value, 10);
        $.ajax({
                url: '/pinner/' + pin + '/pwm/' + duty,
                tryCount : 0,
                retryLimit : 2,
                error : function(xhr, textStatus, errorThrown ) {
                        if (xhr.status == 301) {
                            this.tryCount++;
                            if (this.tryCount <= this.retryLimit) {
                                //try again
                                $.ajax(this);
                                return;
                            }
                            return;
                        }  else {
                            console.log("no love")
                        }
                    },
                success: function(data) {
                  console.log("pin" + pin + " at " + duty)

            }

        });
    });


</script>
{% endblock %}