{% extends "base.html" %}
{% load staticfiles %}



{%  block body %}

<select id="select-sites" multiple="multiple">
    {% for state, sites in sites_by_state %}
    <optgroup label="{{state}}">
        {% for site in sites %}
            <option value="{{site.code}}" {% if site.selected %}selected{% endif %}>{{site.name}}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>


{% endblock %}

{%  block extrascripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}" ></script>
<link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}" type="text/css"/>
<script type="text/javascript">
    $(document).ready(function() {
        $('#select-sites').multiselect({
            enableCollapsibleOptGroups: true,
            //enableCaseInsensitiveFiltering: true,
            selectedClass: 'multiselect-selected'
        });
    });
</script>

{% endblock %}
